<style>
.text-carousel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  font-family: Axiforma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.text-carousel__item, .text-carousel__dot {
  display: inline;
  margin: 0 10px;
  font-family: Axiforma, sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 44.41px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.text-carousel__dot {
  margin: 0 5px;
  color: #aaa;
}

.text-carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
</style>

<div class="text-carousel-container">
  {% if section.settings.show_carousel %}
  <div id="TextCarousel-{{ section.id }}" class="text-carousel">
    {%- for block in section.blocks -%}
    <span class="text-carousel__item">{{ block.settings.text }}</span>
    {%- if forloop.last == false -%}
    <span class="text-carousel__dot">•</span>
    {%- endif -%}
    {%- endfor -%}
  </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Text Carousel",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_carousel",
      "label": "Show Text Carousel",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "carousel_item",
      "name": "Carousel Item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Item Text",
          "default": "Example Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Carousel",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
