.video-section__media {
  --ratio-percent: 56.25%;
  position: relative;
  padding-bottom: calc(var(--ratio-percent) - var(--media-border-width));
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.scroll-trigger:where(.gradient.video-section__media) {
  background: transparent;
}

.video-section__media.global-media-settings--full-width {
  padding-bottom: var(--ratio-percent);
}

.video-section__media.deferred-media {
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.video-section__media.deferred-media:after {
  content: none;
}

.video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.video-section__media iframe {
  background-color: rgba(var(--color-foreground), 0.03);
  border: 0;
}

.video-section__poster,
.video-section__media iframe,
.video-section__media video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-section__media video {
  background: #000000;
}

.video-section__media.media-fit-cover video {
  object-fit: cover;
}

.video-section .title-wrapper h2 {
  text-align: center;
  border-top: 1px solid #D6D1C9;
  border-bottom: 1px solid #D6D1C9;
  padding: 50px 0;
  margin-bottom: 56px;
  font-family: Axiforma;
  font-size: 35px;
  font-weight: 400;
  line-height: 55.44px;
  letter-spacing: 0.5em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.background-image-wrapper {
  position: absolute;
  top: 40%;
  left:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-image-wrapper .background-image-color {
  position: absolute;
  width: 100%;
  height: 100%;
}


.video-container {
  background: #FFFFFF;
}

.video-container .video-content .subheading {
  font-family: Axiforma;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.2em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #333333;
}

.video-container .video-content .content {
  font-family: Axiforma;
  font-size: 32px;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #333333;
}

.video-container .video-content {
  padding: 22px 296px;
}

@media only screen and (min-width: 1920px) {
  .video-container .video-content {
    padding: 22px 120px;
  }
}

@media only screen and (max-width: 1919px) {
  .video-container .video-content {
    padding: 22px 193px;
  }
}

@media only screen and (max-width: 768px) {
  
  .background-image-wrapper {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
  }

  .title-wrapper--self-padded-tablet-down, .title-wrapper--self-padded-mobile {
      padding-left: unset;
      padding-right: unset;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
  }

  .video-container .video-content {
        padding: 22px 60px;
    }

  .video-section .title-wrapper h2 {
      font-size: 20px;
  }
.video-section .title-wrapper h2 {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 500px) {
  .background-image-wrapper .background-image-color {
      top: 0%;
  }
  .background-image-wrapper {
        top: 40%;
    }

   .video-container .video-content {
        padding: 21px 39px;
    }

  .video-container .video-content .content {
    font-size: 30px;
}

    .title-wrapper--mobile {
      display: none; /* Hide mobile heading by default */
    }
    
    .title-wrapper--desktop {
      display: block; /* Show desktop heading by default */
    }
}


@media (max-width: 768px) {
  .title-wrapper--desktop {
    display: none; /* Hide desktop heading on mobile */
  }

  .title-wrapper--mobile {
    display: block; /* Show mobile heading on mobile */
  }